.citySearchForm {
  text-align: center;
  padding-top: 10px;
}

input[type="submit"] {
  background: #f6a9ce;
  border-radius: 4px;
}

.gpsSearchForm {
  background: #f6a9ce;
  border-radius: 4px;
  text-align: center;
  margin: 5px;
}
